@charset 'utf-8';

/* 기본 태그 설정 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

img{
    border: 0;
}

.main_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #f5f5dc;
}

/* header */
.main_container header{
    width: 100%;
    border-bottom: 1px solid #000;
}

.main_container header .header_container{
    width: 70vw;
    height: 11vh;
    margin: 0px auto;
    position: relative;
}

.main_container header .header_container h1{
    position: absolute;
    left: 0px;
    bottom: 15px;
}

.main_container header .header_container h1 p{
    font: bold 30px/1 "arial";
    color: #444;
}

/* header - main bar */
.main_container header .header_container .navigation_main_bar{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.main_container header .header_container .navigation_main_bar li{
    float: left;
}

.main_container header .header_container .navigation_main_bar li p{
    display: block;
    font: bold 20px/1 "arial";
    color: #555;
    padding: 20px 40px;
    transition: all 0.5s;
}

/* 마우스 호버 이벤트 */
.main_container header .header_container .navigation_main_bar li p:hover{
    background: #c4c4b0;
    color: #626258;
}

/* header - util bar */
.main_container header .header_container .navigation_util_bar{
    position: absolute;
    top: 10px;
    right: 30px;
}

.main_container header .header_container .navigation_util_bar li{
    float: left;
}

.main_container header .header_container .navigation_util_bar li p{
    display: block;
    font: 15px/1 "arial";
    color: #999;
    padding: 0px 10px;
}

/* section */
.main_container section{
    width: 100%;
    height: 88vh;
    padding: 25 px 0px;
}

.main_container section .section_container{
    width: 90vw;
    height: 88%;
    margin: 0px auto;
}

.main_container section .section_container .title{
	font: bold 24px/1 "arial";
	color: #555;
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_container section .section_container .section_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container section .section_container .section_wrap article{
    width: 100%;
    height: 100%;
    margin-right: 30px;
    flex: 1;
}

.main_container section .section_container .section_wrap .content_container{
    width: 100%;
    height: 100%;
    flex: 5;
}

