@charset 'utf-8';

/* 기본 태그 설정 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

img{
    border: 0;
}

input, button{
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Login 컴포넌트 컨테이너 */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #f5f5dc;
}

.login_container{
    width: 100%;
    height: 100vh;
    flex: 1;
}

.bg_container{
    width: 100%;
    height: 100vh;
    flex: 2;
}

/* 로그인 폼 지정 */
.login_section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form{
    width: 20vw;
    height: 20vh;
    text-align: center;
}

.login_container section form div.help_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login_container section form div.help_container .id_search{
    width: 130px;
    height: 24px;
    color: #000;
    font-size: 15px;
    padding-left: 40px;
    cursor: pointer;
    flex: 1;
}

.login_container section form div.help_container .password_search{
    width: 130px;
    height: 24px;
    padding-right: 40px;
    text-align: center;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    flex: 1;
}

.login_container section form label{
    color: #ACAC9A;
}

.login_container section form h1{
    position: relative;
    color: #5F5F4F;
    font-size: 34px;
    font-weight: bold;
    top: -20%;
}

.login_container section form .id{
    margin-bottom: 20px;
}

.login_container section form .login_btn{
    width: 300px;
    height: 34px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #8F7245;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.login_container section form input{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-align: center;
}

/* 백그라운드 컨테이너 */
.bg_section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_container section .register_container{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(/src/images/backgroundImage.png);
    background-size: cover;
    position: relative;
    background-repeat :no-repeat;
}

.bg_container section .register_container .register_text_container{
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate( -50%, -50%);
    background-color: rgba( 255, 255, 255, 0.8);
    top: 50%;
    left: 50%;
    border: 1px solid #8F7245;
}

.bg_container section .register_container p{
    color: #5F5F4F;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.bg_container section .register_container button{
    width: 300px;
    height: 34px;
    border-radius: 30px;
    background-color: #8F7245;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.bg_container section .register_container img{
    width: 100%;
    height: 100%;
    position: relative;
}