@charset 'utf-8';

/* 기본 태그 설정 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

img{
    border: 0;
}

input, button{
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Register 컴포넌트 컨테이너 */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #f5f5dc;
}

/* 회원가입 폼 지정 */
.register_container{
    width: 100%;
    height: 100vh;
    flex: 1;
}

.register_section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form{
    width: 20vw;
    height: 30vh;
    text-align: center;
}

.register_container section form h1{
    position: relative;
    color: #5F5F4F;
    font-size: 34px;
    font-weight: bold;
    top: -20%;
}

.register_container section form label{
    color: #ACAC9A;
}

.register_container section form .name,
.register_container section form .email,
.register_container section form .password{
    margin-bottom: 20px;
}

.register_container section form .register_btn{
    width: 300px;
    height: 34px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #8F7245;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.register_container section form input{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-align: center;
}

/* 백그라운드 지정 */
.bg_container{
    width: 100%;
    height: 100vh;
    flex: 2;
}

.bd_section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_container section .login_container{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(/src/images/backgroundImage.png);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.bg_container section .login_container .login_text_container{
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translate(-50%, -50%);
    border: 1px solid #8F7245;
}

.bg_container section .login_container p{
    color: #5F5F4F;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.bg_container section .login_container button{
    width: 300px;
    height: 34px;
    border-radius: 30px;
    background-color: #8F7245;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}